.img{
    width: 150px;}
.card{
    width: 400px;
    margin: 0px auto;
    border: 1px solid blue;
    border-bottom: 5px solid rgb(0, 204, 255);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(224, 224, 237);
}
.card-data{
    text-align: center;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}